# Build and compilation files
[Bb]in/
[Oo]bj/
[Oo]ut/

# IDE files and folders
.vs/
*.nupkg
*.user
*.suo
*.userosscache
*.csproj.user
_ReSharper*/
.idea/
*.swp
.DS_Store

# Other files and folders
packages/
*.dbmdl